.board-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: #FFFFFF;
  border-radius: 1rem;
  box-shadow: 0px 0px 60px -7px rgba(18,31,62,0.1);
  -webkit-box-shadow: 0px 0px 60px -7px rgba(18,31,62,0.1);
  -moz-box-shadow: 0px 0px 60px -7px rgba(18,31,62,0.1);
  grid-area: board;
}

.board-container {
  height: 100%;
  /* min-width: calc(100dvh - 9rem - 68px); */
  aspect-ratio: 1 / 1;
  border: 2px solid #888F9F;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border-radius: 1rem;
  overflow: hidden;
}

.cell {
  border: 1px solid #EFF4F7;
  margin: -1px 0 0 -1px;
}

.active {
  border: none;
  background-color: #3C6CDC;
  animation: appear 100ms linear;
}

@keyframes appear {
  0% {
    background-color: transparent;
  }
  90% {
    background-color: rgb(60, 108, 220, 1);
  }
}